{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="container emp-profile">
    
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'img/fcicon.png'%}" alt="" width="50%">
            <h6 class="text-muted p-1">Advance Attendance System</h6>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <!-- Profile Head Content can go here -->
            </div>
        </div>
    </div>
    
    <center>
        <div class="bg-image">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-box">
                        <div class="card-body">
                            <h5 class="card-title">Choose Your Role</h5>
                            <div class="role-btn">
                                <a href="#" class="btn btn-info btn-lg btn-block">Student</a>
                                <a href="{% url 'teacher' %}" class="btn btn-primary btn-lg btn-block">Teacher</a>

                                <!-- Need to implement login here -->
                                <a href="{% url 'profiles' %}" class="btn btn-secondary btn-lg btn-block">Admin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </center>
    
        
    <!-- Additional Content can go here -->
</div>

<script>
    // Any additional JavaScript can go here
</script>

{% endblock content %}
