{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="container emp-profile">
    <a href="{% url 'index' %}"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <span class="material-symbols-outlined">
            keyboard_return
        </span>
    </a>
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'img/fcicon.png'%}" alt="" width="50%">
            <h6 class="text-muted p-1">Advance Attendance System</h6>

        </div>
        
        <div class="col-md-6">
            <div class="profile-head">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-body">
                <center>
                
                </center>
            </div>
        </div>
    </div>
    <title>Search Bar</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <form>
            <div class="search">
                <span class="search-icon material-symbols-outlined">search</span>
                <input class="search-input" type="search" placeholder="Search">
            </div>
        </form>
    <hr>
    
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="present-tab" data-toggle="tab" href="#present" role="tab"
                aria-controls="home" aria-selected="true">Present</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <br>
        <div class="tab-pane fade show active" id="present" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">ID NUMBER</th>
                        <th scope="col">PROGRAM</th>
                        <th scope="col">TERM</th>
                        <th scope="col">GROUP</th>
                        <th scope="col">ENTRY DATE - TIME</th>
                        <th scope="col">STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for profile in present %}
                    <tr>
                        <td>{{profile.first_name}} {{profile.last_name}}</td>
                        <td>{{profile.studentid}}</td>
                        <td>{{profile.program}}</td>
                        <td>{{profile.term}}</td>
                        <td>{{profile.section}}</td>
                        <td>{{ profile.updated|date:"m/d/Y" }} - {{ profile.updated|date:"h:i A" }}</td>
                        <td>Present</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
            <a href="{% url 'student' %}"><button type="button" class="btn btn-outline-primary">Refresh</button></a>

        </div>

    </div>

</div>
<script>
    $(".scan").click(function () {
        var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
        $.ajax({
            url: "{% url 'scan' %}",
            data: {

            },
        });
    });
</script>

{% endblock content %}